apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "userservice.fullname" . }}-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "userservice.labels" . | nindent 4 }}
data:
  # Database Configuration - Use full Kubernetes DNS FQDN (required for managed clusters)
  SPRING_DATASOURCE_URL: {{ .Values.database.url | quote }}
  
  # MongoDB Configuration - Use full Kubernetes DNS FQDN (required for managed clusters)
  SPRING_DATA_MONGODB_URI: {{ .Values.mongodb.uri | quote }}
  
  # Keycloak Configuration - Use full Kubernetes DNS FQDN (required for managed clusters)
  KEYCLOAK_AUTH_SERVER_URL: {{ .Values.keycloak.authServerUrl | quote }}
  KEYCLOAK_REALM: {{ .Values.keycloak.realm | quote }}
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: {{ .Values.keycloak.jwt.issuerUri | quote }}
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: {{ .Values.keycloak.jwt.jwkSetUri | quote }}
  IDENTITY_OPENID_CONNECT_URL: {{ .Values.keycloak.identity.openIdConnectUrl | quote }}
  
  # Matrix Configuration - Use full Kubernetes DNS FQDN (required for managed clusters)
  MATRIX_API_URL: {{ .Values.matrix.apiUrl | quote }}
  MATRIX_SERVER_NAME: {{ .Values.matrix.serverName | quote }}
  MATRIX_MIGRATION_ENABLED: {{ .Values.matrix.migrationEnabled | quote }}
  
  # RabbitMQ Configuration - Use full Kubernetes DNS FQDN (required for managed clusters)
  SPRING_RABBITMQ_HOST: {{ .Values.rabbitmq.host | quote }}
  SPRING_RABBITMQ_PORT: {{ .Values.rabbitmq.port | quote }}
  SPRING_RABBITMQ_USERNAME: {{ .Values.rabbitmq.username | quote }}
  SPRING_RABBITMQ_PASSWORD: {{ .Values.rabbitmq.password | quote }}
  
  # Rocket.Chat Configuration - Use full Kubernetes DNS FQDN (required for managed clusters)
  ROCKET_CHAT_BASE_URL: {{ .Values.rocketchat.baseUrl | quote }}
  ROCKET_CHAT_MONGO_URL: {{ .Values.rocketchat.mongoUrl | quote }}
  
  # Service URLs - Use full Kubernetes DNS FQDN (required for managed clusters)
  TENANT_SERVICE_API_URL: {{ .Values.services.tenantService.apiUrl | quote }}
  CONSULTING_TYPE_SERVICE_API_URL: {{ .Values.services.consultingTypeService.apiUrl | quote }}
  AGENCY_SERVICE_API_URL: {{ .Values.services.agencyService.apiUrl | quote }}
  
  # Spring Profile
  SPRING_PROFILES_ACTIVE: {{ .Values.spring.profiles.active | quote }}
  
  # Liquibase - Explicitly disabled (database schemas managed separately in ORISO-Database)
  SPRING_LIQUIBASE_ENABLED: {{ .Values.database.liquibase.enabled | quote }}
  
  # Application Properties - Complete properties file as single environment variable
  # This is required because UserService reads from application.properties
  application.properties: |
    # ---------------- General ----------------
    spring.application.name=user-service
    spring.profiles.active={{ .Values.spring.profiles.active }}
    spring.main.allow-bean-definition-overriding=true
    spring.jpa.open-in-view=true
    spring.jpa.hibernate.ddl-auto=none
    spring.data.jpa.repositories.bootstrap-mode=default
    spring.main.banner-mode=off
    spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.mongo.MongoAutoConfiguration,org.springframework.boot.autoconfigure.data.mongo.MongoDataAutoConfiguration
    
    # ---------------- Server ----------------
    server.port=8082
    server.host=http://localhost
    app.base.url=http://localhost:8082
    
    # Tomcat thread pool - Scaled for 5000 concurrent users
    server.tomcat.threads.max=1000
    server.tomcat.threads.min-spare=500
    server.tomcat.max-connections=5000
    server.tomcat.accept-count=1000
    server.tomcat.connection-timeout=30000
    
    # ---------------- Database ----------------
    spring.datasource.url={{ .Values.database.url }}
    spring.datasource.username={{ .Values.database.username }}
    spring.datasource.password={{ .Values.database.password }}
    spring.liquibase.enabled={{ .Values.database.liquibase.enabled }}
    
    # ---------------- MongoDB ----------------
    spring.data.mongodb.uri={{ .Values.mongodb.uri }}
    
    # ---------------- Keycloak ----------------
    keycloak.auth-server-url={{ .Values.keycloak.authServerUrl }}
    keycloak.realm={{ .Values.keycloak.realm }}
    spring.security.oauth2.resourceserver.jwt.issuer-uri={{ .Values.keycloak.jwt.issuerUri }}
    spring.security.oauth2.resourceserver.jwt.jwk-set-uri={{ .Values.keycloak.jwt.jwkSetUri }}
    identity.openid-connect-url={{ .Values.keycloak.identity.openIdConnectUrl }}
    
    # ---------------- Matrix ----------------
    matrix.apiUrl={{ .Values.matrix.apiUrl }}
    matrix.serverName={{ .Values.matrix.serverName }}
    matrix.migrationEnabled={{ .Values.matrix.migrationEnabled }}
    matrix.registrationSharedSecret={{ .Values.matrix.registrationSharedSecret }}
    
    # ---------------- RabbitMQ ----------------
    spring.rabbitmq.host={{ .Values.rabbitmq.host }}
    spring.rabbitmq.port={{ .Values.rabbitmq.port }}
    spring.rabbitmq.username={{ .Values.rabbitmq.username }}
    spring.rabbitmq.password={{ .Values.rabbitmq.password }}
    
    # ---------------- Rocket.Chat ----------------
    rocket-chat.base-url={{ .Values.rocketchat.baseUrl }}
    rocket-chat.mongo-url={{ .Values.rocketchat.mongoUrl }}
    rocket.technical.username={{ .Values.rocketchat.technical.username }}
    rocket.technical.password={{ .Values.rocketchat.technical.password }}
    
    # ---------------- Service URLs ----------------
    tenant.service.api.url={{ .Values.services.tenantService.apiUrl }}
    consulting.type.service.api.url={{ .Values.services.consultingTypeService.apiUrl }}
    agency.service.api.url={{ .Values.services.agencyService.apiUrl }}
    agency.service.api.get.agencies=${agency.service.api.url}/
    agency.admin.service.api.url=${app.base.url}
    
    # ---------------- CORS ----------------
    registration.cors.allowed.origins=http://91.99.183.160:9001,https://app.oriso-dev.site
    registration.cors.allowed.paths=/service/users/askers/new,/service/users/consultants/languages
    
    # ---------------- Other Configuration ----------------
    spring.web.locale=de_DE
    spring.jackson.time-zone=Europe/Berlin
    service.encryption.appkey={{ .Values.encryption.appKey }}

